     {% extends 'basehome.html' %}   

  {% load static %}



{% block content %}
    <!-- ***** Breadcrumb Area Start ***** -->
        <section class="section breadcrumb-area overlay-dark d-flex align-items-center" style="background: rgba(0, 0, 0, 0) url(/static/assetsp/img/bg/blog-thumb.jpg) no-repeat scroll center top / cover;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Breamcrumb Content -->
                        <div class="breadcrumb-content d-flex flex-column align-items-center text-center">
                            <h3 class="text-white">All Our Gosphel Videos</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">video</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Breadcrumb Area End ***** -->

        <!-- ***** Blog Area Start ***** -->
        <section id="blog" class="section blog-area ptb_100">
            <div class="container">
                <div class="row">

                    {% for v in video %}
                
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Single Blog -->
                        <div class="single-blog res-margin">
                            <!-- Blog Thumb -->
                            <div class="blog-thumb">
                                <a class="play-btn" style="height:100%;width:100%;" data-fancybox href="{{v.video}}">
                                </i><img src="{{v.image.url}}" alt="">
                            </a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content p-4">
                                <!-- Meta Info -->
                                <ul class="meta-info d-flex justify-content-between">
                                    <li>By <a href="#">{{v.author}}</a></li>
                                    <li><a href="#">{{v.date}}</a></li>
                                </ul>
                                <!-- Blog Title -->
                                <h3 class="blog-title my-3"><a class="" data-fancybox href="{{v.video}}"> {{v.title}}</a></h3>
                                <p>{{v.discription}}</p><br>
                               <center> <a class="play-btn" style="background-color: #1850c3;" data-fancybox href="{{v.video}}">
                                <i class="icofont-ui-play"></i>
                            </a></center>
                            </div>
                        </div>
                    </div>
                    {% endfor %}



                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Pagination -->
                        <ul class="pagination justify-content-center">
                            <li class="disabled px-1">
                                <a href="#" aria-label="Previous">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                            </li>
                            <li class="px-1"><a href="#">1</a></li>
                            <li class="active px-1"><a href="#">2</a></li>
                            <li class="px-1"><a href="#">3</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Blog Area End ***** -->

         {% endblock content %}